body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: red;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.box {
    
    margin: 0;
    
   
    
}

#div1{
    margin-top: 2%;
    width: 95%;
    background-color: aqua;
    
    display: flex;
    align-items: center;

}

#logo{
    margin-left: 2%;
    width: 22%;
    

}

#caixa_de_texto{
    display: flex;
    align-items: center;
    margin-left: 6%;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 180px;
    
}

#div2{
    width: 95%;
    background-color: rgb(145, 255, 0);
    min-height: 35vh;
    
}

.base_formulario{
    

}

#div3{
    width: 95%;
    background-color: rgb(173, 41, 140);
    min-height: 30vh;
    
}

/*RESOLUÇÃO_MOBILE*/


@media (max-width: 450px) {

    #div1{
        margin-top: 5%;
        width: 95%;
        background-color: aqua;
    
    }
    
    
    #div2{
        width: 95%;
        background-color: rgb(145, 255, 0);
        
    }
    
    #div3{
        width: 95%;
        background-color: rgb(173, 41, 140);
        
    }

  
#caixa_de_texto{
   
    margin-left: 1%;
    background-color: rgb(255, 0, 191);
    width: 60%;
    height: 180px;
    
}

#logo{
    margin-left: 0%;
    width: 40%;

}

    
}
